* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.container > div {
    height: 10px;
    width: 10px;
    border: 1px solid black;
}

.container > div:nth-child(16n + 1) {
    width: 100%;
    border: 0;
    height: 0;
}


/*
body {
    width: 90%;
    max-width: 900px;
    margin: 2em auto;
    font: .9em/1.2 Arial, Helvetica, sans-serif;
}

.container > div {
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(207,232,220);
    border: 2px solid rgb(79,185,227);
}

*/